@model IEnumerable<StudentCourseApp.Models.Enrollment>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Select Student ID:
            <select name="selectedId" asp-items="ViewBag.students"></select>
            <input type="submit" value="Filter" class="btn btn-default" />
            <br />
            <a asp-action="Index">See all Enrollments</a>
        </p>
    </div>
</form>

<p>
    <a asp-action="Create">Add new Course</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                Course Status
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Id) - @Html.DisplayFor(modelItem => item.Course.Cname)
                </td>
                <td>
                    @if (item.FutureEnroll == "N")
                    {
                        <p>Complete</p>

                    }
                    else
                    {
                        <p>Future Course</p>
                    }
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>

